<hr/>

<div class="navbar-collapse">
    <ul>
        <div class="navbar-nav" style="vertical-align: bottom">
            <a class="nav-item nav-link active" id="nav-link" style="color: rgb(23, 156, 116)" routerLink="/uploadDocument">
                <i class="material-icons">publish</i>
                Dodaj rad
            </a>
            <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/1">
                <i class="material-icons">search</i>
                Pretraga po nazivu časopisa
            </a>
            <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/2">
                <i class="material-icons">search</i>
                Pretraga po naslovu rada
            </a>
            <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/3">
                <i class="material-icons">search</i>
                Pretraga po autorima
            </a>
            <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/4">
                <i class="material-icons">search</i>
                Pretraga po ključnim pojmovima
            </a>
            <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/5">
                <i class="material-icons">search</i>
                Pretraga po sadržaju
            </a>
            <a class="nav-item nav-link" id="nav-link" style="color: rgb(202, 189, 7)" routerLink="/search/6">
                <i class="material-icons">search</i>
                Pretraga po naučnim oblastima
            </a>
            <a class="nav-item nav-link active" id="nav-link" style="color: rgb(156, 23, 23)" routerLink="/advancedSearch">
                <i class="material-icons">search</i>
                Kombinovana pretraga
            </a>
            <a class="nav-item nav-link active" id="nav-link" style="color: rgb(68, 13, 119)" routerLink="/more-like-this/1">
                <i class="material-icons">search</i>
                More like this pretraga
            </a>
            <a class="nav-item nav-link active" id="nav-link" style="color: rgb(5, 202, 153)" routerLink="/geo-spacing/1">
                <i class="material-icons">search</i>
                Geoprostorna pretraga
            </a>
        </div>
    </ul>
</div>
